.u-section-1 .u-sheet-1 {
  min-height: 954px;
}

.u-section-1 .u-group-elements-1 {
  width: 374px;
  min-height: 89px;
  margin: 43px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 161px;
  margin: 0 auto 0 106px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 25px 0 0;
}

.u-section-1 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-1 .u-group-elements-2 {
  width: 1140px;
  min-height: 679px;
  margin: 35px 0 60px;
}

.u-section-1 .u-image-1 {
  width: 598px;
  height: 322px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 25px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 16px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 540px;
    min-height: 743px;
  }

  .u-section-1 .u-image-1 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
    margin-top: 52px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 340px;
    min-height: 875px;
    margin-bottom: 52px;
  }

  .u-section-1 .u-image-1 {
    height: 313px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 21px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 941px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 291px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-elements-1 {
  width: 947px;
  min-height: 259px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-group-elements-2 {
  width: 946px;
  min-height: 258px;
  height: auto;
  margin: -259px auto 0;
}

.u-section-2 .u-group-elements-3 {
  width: 627px;
  min-height: 193px;
  height: auto;
  margin: 32px 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 4px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 26px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 34px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 261px;
  left: 0;
  right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 291px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-group-elements-4 {
  width: 946px;
  min-height: 259px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-group-elements-5 {
  width: 627px;
  min-height: 193px;
  height: auto;
  margin: 23px 0 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 32px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 261px;
  left: 0;
  right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 291px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-elements-6 {
  width: 947px;
  min-height: 260px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-group-elements-7 {
  width: 627px;
  min-height: 188px;
  height: auto;
  margin: 29px 0 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 32px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 261px;
  height: 259px;
  margin: -217px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 940px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    margin-bottom: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 240px;
  }

  .u-section-2 .u-group-elements-4 {
    width: 940px;
  }

  .u-section-2 .u-image-2 {
    margin-bottom: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-2 .u-group-elements-6 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 720px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 448px;
    min-height: 217px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-group-elements-4 {
    width: 720px;
  }

  .u-section-2 .u-group-elements-5 {
    width: 450px;
    min-height: 217px;
    margin-top: 21px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-group-elements-6 {
    width: 720px;
  }

  .u-section-2 .u-group-elements-7 {
    width: 450px;
    margin-top: 35px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -224px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 540px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 270px;
    min-height: 241px;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-2 .u-group-elements-4 {
    width: 540px;
    min-height: 305px;
    margin-top: -11px;
  }

  .u-section-2 .u-group-elements-5 {
    min-height: 305px;
    width: 270px;
    margin-top: 11px;
  }

  .u-section-2 .u-image-2 {
    width: 260px;
    height: 257px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -305px auto 0 0;
  }

  .u-section-2 .u-group-elements-6 {
    width: 540px;
  }

  .u-section-2 .u-group-elements-7 {
    width: 270px;
    min-height: 236px;
    margin-top: 11px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -248px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 4px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 340px;
    min-height: 223px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 627px;
    min-height: 193px;
    margin-top: -227px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 170px;
    min-height: 300px;
    margin-top: 19px;
    margin-right: auto;
    margin-left: 170px;
  }

  .u-section-2 .u-image-1 {
    width: 164px;
    height: 152px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -296px auto 0 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-group-elements-4 {
    width: 340px;
    min-height: 326px;
  }

  .u-section-2 .u-group-elements-5 {
    min-height: 326px;
    width: 170px;
  }

  .u-section-2 .u-image-2 {
    width: 164px;
    height: 153px;
    margin-top: -326px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 352px;
  }

  .u-section-2 .u-group-elements-6 {
    min-height: 247px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-elements-7 {
    width: 170px;
    min-height: 247px;
    margin-top: 0;
  }

  .u-section-2 .u-image-3 {
    width: 164px;
    height: 153px;
    margin-top: -247px;
  }
}