.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-group-elements-1 {
  width: 942px;
  min-height: 126px;
  height: auto;
  margin: 43px auto 8px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 161px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 12px 0 0;
}

.u-section-1 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 9px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-elements-1 {
    width: 940px;
  }

  .u-section-1 .u-line-1 {
    height: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 515px;
}

.u-section-2 .u-group-elements-1 {
  width: 940px;
  min-height: 416px;
  margin: 50px auto;
}

.u-section-2 .u-image-1 {
  width: 229px;
  height: 229px;
  margin: 0 211px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 325px;
  height: 229px;
  margin: -229px auto 0 175px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 193px;
  margin: 18px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 17px 0 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-group-elements-1 {
    width: 720px;
    min-height: 448px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 95px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-elements-1 {
    width: 540px;
    min-height: 512px;
  }

  .u-section-2 .u-image-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 270px;
    margin-right: 40px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-elements-1 {
    width: 340px;
    min-height: 590px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-1 {
    width: 147px;
    height: 147px;
  }

  .u-section-2 .u-image-2 {
    width: 197px;
    height: 147px;
    margin-top: -147px;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 239px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 669px;
  margin: 50px 236px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 19px 94px 50px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 136px;
    margin-right: 136px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 339px;
}

.u-section-4 .u-group-elements-1 {
  min-height: 263px;
  height: auto;
  width: 940px;
  margin: 50px auto;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 328px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 16px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

@media (max-width: 991px) {
  .u-section-4 .u-group-elements-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 268px;
}

.u-section-5 .u-group-elements-1 {
  width: 940px;
  height: auto;
  min-height: 168px;
  margin: 50px auto;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 210px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-elements-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    width: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 343px;
}

.u-section-6 .u-group-elements-1 {
  width: 940px;
  min-height: 243px;
  height: auto;
  margin: 50px auto;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 321px;
  margin: -16px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 16px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 29px auto 0;
}

@media (max-width: 991px) {
  .u-section-6 .u-group-elements-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 336px;
}

.u-section-7 .u-group-elements-1 {
  width: 940px;
  height: auto;
  min-height: 236px;
  margin: 50px auto;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 801px;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 16px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 374px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-7 .u-group-elements-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-7 .u-group-elements-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    min-height: 268px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-elements-1 {
    min-height: 420px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 585px;
}

.u-section-8 .u-group-elements-1 {
  min-height: 485px;
  height: auto;
  width: 940px;
  margin: 50px auto;
}

.u-section-8 .u-image-1 {
  width: 543px;
  height: 322px;
  margin: 0 auto;
}

.u-section-8 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 16px 0 0;
}

@media (max-width: 991px) {
  .u-section-8 .u-group-elements-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-8 .u-group-elements-1 {
    min-height: 488px;
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    height: 249px;
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-1 {
    margin-top: 7px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 941px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 291px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-group-elements-1 {
  width: 947px;
  min-height: 259px;
  height: auto;
  margin: 0 auto;
}

.u-section-9 .u-group-elements-2 {
  width: 946px;
  min-height: 258px;
  height: auto;
  margin: -259px auto 0;
}

.u-section-9 .u-group-elements-3 {
  width: 627px;
  min-height: 193px;
  height: auto;
  margin: 32px 0 0 auto;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 4px;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  margin: 26px 0 0;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 34px auto 0 0;
}

.u-section-9 .u-image-1 {
  width: 261px;
  left: 0;
  right: auto;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 291px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-group-elements-4 {
  width: 946px;
  min-height: 259px;
  height: auto;
  margin: 0 auto;
}

.u-section-9 .u-group-elements-5 {
  width: 627px;
  min-height: 193px;
  height: auto;
  margin: 23px 0 0 auto;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-9 .u-text-4 {
  font-size: 1.25rem;
  margin: 28px 0 0;
}

.u-section-9 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 32px auto 0 0;
}

.u-section-9 .u-image-2 {
  width: 261px;
  left: 0;
  right: auto;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 290px;
}

.u-section-9 .u-container-layout-3 {
  padding: 0;
}

.u-section-9 .u-group-elements-6 {
  width: 947px;
  min-height: 260px;
  height: auto;
  margin: 0 auto;
}

.u-section-9 .u-group-elements-7 {
  width: 627px;
  min-height: 188px;
  height: auto;
  margin: 27px 0 0 auto;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-6 {
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-9 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 32px auto 0 0;
}

.u-section-9 .u-image-3 {
  width: 261px;
  height: 259px;
  margin: -215px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-9 .u-group-elements-1 {
    width: 940px;
  }

  .u-section-9 .u-group-elements-2 {
    width: 940px;
  }

  .u-section-9 .u-image-1 {
    margin-bottom: initial;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 240px;
  }

  .u-section-9 .u-group-elements-4 {
    width: 940px;
  }

  .u-section-9 .u-image-2 {
    margin-bottom: initial;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 239px;
  }

  .u-section-9 .u-group-elements-6 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-9 .u-group-elements-2 {
    width: 720px;
  }

  .u-section-9 .u-group-elements-3 {
    width: 448px;
    min-height: 217px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-group-elements-4 {
    width: 720px;
  }

  .u-section-9 .u-group-elements-5 {
    width: 450px;
    min-height: 217px;
    margin-top: 21px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-group-elements-6 {
    width: 720px;
  }

  .u-section-9 .u-group-elements-7 {
    width: 445px;
    min-height: 212px;
    margin-top: 23px;
  }

  .u-section-9 .u-image-3 {
    margin-top: -236px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-9 .u-group-elements-2 {
    width: 540px;
  }

  .u-section-9 .u-group-elements-3 {
    width: 270px;
    min-height: 241px;
    margin-top: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-9 .u-group-elements-4 {
    width: 540px;
  }

  .u-section-9 .u-group-elements-5 {
    min-height: 305px;
    width: 270px;
    margin-top: 0;
    margin-bottom: -46px;
  }

  .u-section-9 .u-group-elements-6 {
    width: 540px;
  }

  .u-section-9 .u-group-elements-7 {
    min-height: 260px;
    width: 270px;
    margin-top: 0;
  }

  .u-section-9 .u-image-3 {
    margin-top: -260px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-9 .u-group-elements-1 {
    width: 340px;
    min-height: 223px;
  }

  .u-section-9 .u-group-elements-2 {
    width: 627px;
    min-height: 193px;
    margin-top: -227px;
  }

  .u-section-9 .u-group-elements-3 {
    width: 170px;
    min-height: 300px;
    margin-top: 19px;
    margin-right: auto;
    margin-left: 170px;
  }

  .u-section-9 .u-image-1 {
    width: 164px;
    height: 152px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -296px auto 0 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-group-elements-4 {
    width: 340px;
    min-height: 326px;
  }

  .u-section-9 .u-group-elements-5 {
    min-height: 326px;
    width: 170px;
  }

  .u-section-9 .u-image-2 {
    width: 164px;
    height: 153px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -326px auto 0 0;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 352px;
  }

  .u-section-9 .u-group-elements-6 {
    min-height: 319px;
    margin-top: 13px;
    margin-bottom: -12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-group-elements-7 {
    width: 170px;
    min-height: 319px;
  }

  .u-section-9 .u-image-3 {
    width: 164px;
    height: 152px;
    margin-top: -319px;
  }
}